// Colors
$blue: #25438d;
$dark-blue: #193368;
$light-blue: #5fcae3;
$tan: #f5f9e9;
$red: #ed572c;
$white: #FFF;
$text: #414042;
$yellow: #fbcd0b;


// Breakpoints
$bp-xs-min: 320px;
$bp-xs2-min: 680px;
$bp-sm-min: 768px;
$bp-sm3-min: 960px;
$bp-md-min: 960px;
$bp-lg-min: 1320px;
$bp-xlg-min: 1320px;
$bp-xxlg-min: 1440px;
