// Colors
$blue: #25438d;
$dark-blue: #193368;
$light-blue: #5fcae3;
$tan: #f5f9e9;
$red: #ed572c;
$white: #FFF;
$text: #414042;
$yellow: #fbcd0b;


// Breakpoints
$bp-sm-min: 576px;
$bp-md-min: 768px;
$bp-lg-min: 992px;
$bp-xlg-min: 1200px;
$bp-xxlg-min: 1500px;
